*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */


/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;

}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* header */

html {
    scroll-behavior: smooth;
}


body {
    background-color: black;
    color: rgb(241, 241, 241);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.imgProfile {
    width: 11em;
    /* height: 11em`; */
}

#logoFont {
    font-family: 'Merienda', cursive;
}

.small-title {
    font-weight: 500;
}

.mainTitles {
    padding: 1em 1em 1em 0;
    font-size: 1.7em;
    font-weight: 700;
}

#Willkommen {
    background-image: url(/mainImages/Hero.jpg);
    box-shadow: inset 0 0 100px 0 rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-shadow: 1px -1px 1px grey;

}

#Willkommen>div {
    display: flex;
    flex-direction: row;
    padding: 33px 100px;
}


#titleFont {
    font-size: 2.8rem;
    padding: 20px;
    font-weight: 400;
    line-height: 1.2em;

}

#titleFont :first-of-type {
    font-weight: 700;
    font-size: 1.2em;
}


#Willkommen>div>p {
    padding: 20px;
    width: 500px;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin: auto 0;
    letter-spacing: 0em;
}



#mainNavBar {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 12vh;
    position: absolute;

    bottom: 0;
}


.navAncor {
    padding: 40px 40px 80px;

}

nav ul li:hover {
    background-color: black;
    /* padding: 40px 40px 100px 40px; */
}

/* wrapper */

.wrapper {
    width: 95vw;
    margin: auto;
}

.blue {
    color: rgb(69, 146, 177);
}

/* das section */

#Das {
    display: flex;
    margin: auto;
    flex-direction: row;
    padding-top: 2em;
}

.bigheaders {
    width: 33%;
    margin: 0 auto;
    text-align: start;
    font-size: 12rem;
    font-weight: 800;
    line-height: 1.1em;
}

#dasText {
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-top: 2.5rem;
}

.profile {
    display: flex;
    padding: 0 0 2em;
}

.profileText {
    padding-left: 2em;

}

.profileText>div {
    margin: 0;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.small-title {
    font-size: 1.7rem;
    font-weight: 700;
}

.mainTextStyle {
    font-size: 2rem;
}




/* second */

#Was>div {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-direction: row;
    padding-top: 2em;
}

#wirText {
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin: 0;
    flex-direction: column;
    width: 60%;
    padding: 3vh 0 0 3vw;
}


.wasWirHeader {
    width: 33%;
    margin: 0 auto;
    align-items: start;
    font-size: 9rem;
    font-weight: 800;
    line-height: 1.1em;
    text-align: justify;
}

.wasWirHeader div h2 {
    width: 80%;
}

footer div h2 {
    font-size: 10rem;
    font-weight: 800;
    width: 90vw;
    margin: auto;
    padding: 2vh 0;
}

#Kontakt {
    padding-bottom: 50vh;
}

#kontaktTab {
    display: flex;
    width: 90vw;
}

#kontaktTab div {
    width: 30%;
    margin: 0 auto;
    padding: 0 0 0 1vw;
}

#kontaktTab div p {
    width: 100%;
}