*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */


/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;

}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* all */

body {
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.blue {
    color: rgb(69, 146, 177);
}


body {
    background-color: black;
    color: rgb(241, 241, 241);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.smallTitle {
    font-weight: 600;
    font-size: 1.2rem;
}

/* header */



#Willkommen {
    background-image: url(/mainImages/Hero.jpg);
    box-shadow: inset 0 0 100px 0 rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 72%;
    background-size: cover;
    width: 100vw;
    height: 95vh;
    text-shadow: -2px -2px 5px rgb(99, 89, 89), 4px 4px 10px rgb(61, 60, 60), -4px 4px 10px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 4rem;
}


#blurb {
    margin: auto;
    width: 75vw;
    position: relative;
    text-align: center;
    font-size: 3vh;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}

#titleFont {
    position: relative;
    top: -20vh;
    margin: 0 auto;
    font-weight: 400;
    font-size: 6vh;
}

#logoFont {
    font-size: 55px;
    font-weight: 800;
    font-family: 'Merienda', cursive;
}

#Was {
    max-width: 1300px;
    margin: 0 auto;
}

#Das {
    max-width: 1300px;
    margin: 0 auto;
}

/* hamburger */
#navBarParent {
    position: relative;
    font-size: 4vw;
    font-weight: 400;
    top: 0;
    background-color: black;
    height: 60px;

}

#navBar {
    transition: 0.3s ease;
    text-align: center;
    z-index: auto;
    padding-bottom: 10px;
    box-shadow: 0 1px 1px rgb(83, 83, 83);
    max-width: 1300px;
    margin: 0 auto;
}

#menu {
    position: relative;
    top: 26.5px;

    width: 30px;
    font-weight: 200;
    margin: 30px 0 20px 20px;
    margin-left: auto;
    transform: translateX(-20px);
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

#navBar li a:hover {
    text-shadow: 2px 2px 10px rgb(83, 83, 83);
}

#navBar li {
    padding: 16px;
}

#navBar li:hover {
    background-color: black;
}


.navBar {
    padding-top: 10px;
    display: none;
}

.hamburger #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.hamburger #bar2 {
    opacity: 0;
}

.hamburger #bar3 {
    transform: translateY(-4px) rotate(45deg);
}

.hamburger {
    display: block;
    background-color: black;
}

.visable {
    display: none;
}


.active {
    font-weight: bold;
}


/* navBar */

.offsetMargin {
    padding-top: 50px;
}

#navBarParent.sticky {
    position: sticky;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 1px rgb(83, 83, 83);
}



/* Sections */

.bigHeaders {
    text-align: left;
    margin: auto;
    font-weight: 800;
    font-size: 90px;
    padding: 5vw 0 10vw 0;
}

.bigHeadersSmallScreen {
    font-size: 13vw;
    padding: 2vw 0 3vw 0;
}

.mainTextStyle {
    padding: 1rem 0 1rem;
}

/*  Das section */

.imgProfile {
    width: 8rem;
    margin: 0 1rem 0 .5rem;
    height: 25%;
}


.profile {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem .5rem 0 .5rem;
    margin-bottom: 5px;
    margin: auto;
}

.profileText {
    /* margin: auto; */
    display: flex;
    flex-direction: row;

}

.profileText div h5 {
    z-index: -1;
    position: relative;
    top: 53%;
}

.profile div p {
    padding-top: .5rem;
    margin-top: 1rem;
    /* border-top: 1px solid white; */
}

.derVorstand {
    /* text-align: end; */
    padding: 2rem 0 .2rem 0;
    font-weight: 700;
    font-size: 2rem;
}

/* kontakt */


.kontaktPad {
    padding-left: 1rem;
}

.image {
    display: flex;
    margin: auto;
    padding: 20px 0 40px;
    width: 100%;
}

.forty:first-of-type {
    padding: 0 20px 0 0;
    width: 110%;
}

#Kontakt {
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
}

.forty img {
    padding-left: 10px;
    height: 300px;
}


/* lightbox */



.lightBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.lightBoxInner {
    position: relative;
    width: 95%;
    max-width: 95vw;
    max-height: 95vh;
    height: 95%;
    background: rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 25px rgb(0 0 0 / 30%);
}

.lightBoxbtn {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    padding: 0 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.lightBoxContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.lightBoxClose {
    font-size: 6vh;
    top: 0;
    right: 0;
    z-index: 1;

}

.lightBoxRight {
    font-size: 5vh;
    right: 3vw;
    z-index: 1;
}

.lightBoxLeft {
    font-size: 5vh;
    left: 3vw;
    z-index: 1;
}

.lightBoxClose:hover {
    text-shadow: 3px 3px 10px white;
}

.lightBoxbtn:hover {
    color: rgba(255, 255, 255, 1);
}

.lightBoxLeft:hover {
    text-shadow: 2px 2px 10px white;
}

.lightBoxRight:hover {
    text-shadow: -2px 2px 10px white;

}



.containerParent {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container img {
    width: 100%;
    height: 100%;
}


.displayNone {
    display: none;
}



@media only screen and (max-width: 320px) {
    #titleFont div {
        font-size: 1em;
    }

    .bigHeaders {
        font-size: 70px;
    }

    .bigHeadersSmallScreen {
        font-size: 70px;
    }

    body {
        font-size: 1rem;
    }

    .smallTitle {
        font-size: 1.1rem;
    }

    h2>b {
        font-size: 50px;
    }

    .profileText>div h5 {
        top: 40%;
    }

}

@media only screen and (min-width: 660px) {
    #blurb {
        width: 60vw;
    }
}



@media only screen and (min-width: 550px) {
    .forty:first-of-type {
        padding: 0 20px 0 0;
        width: 60%;
    }

    ul li a {
        font-size: 20px;
    }

    #navBar li {
        padding: 10px;

    }
}

@media only screen and (min-width: 950px) {
    #Willkommen {
        background-position: 0;
        height: 100vh;
    }

    #Willkommen div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    #Willkommen div div {
        text-align: center;
        flex-direction: column;
    }

    #Willkommen div p {
        flex-direction: column;
        width: 300px;
        text-align: start;
    }

    #logoFont {
        font-size: 40px;
    }

    #titleFont {
        font-size: 35px;
        position: absolute;
        top: 50px;
        left: 70px;
    }

    #blurb {
        font-size: 15px;
        position: absolute;
        top: 75px;
        left: 320px;
    }

    #navBarParent {
        top: -80px;
        transition: 0.3s ease;
        background-color: transparent;
    }

    #navBarParent.sticky {
        top: 0;
        transition: 0.3s ease;
        padding-bottom: 20px;
        box-shadow: none;
    }

    #menu {
        display: none;
    }

    .hamburger {
        background-color: transparent;
    }

    #navBarParent {
        background-color: none;
    }

    #navBar {
        display: flex;
        font-size: 18px;
        padding: 0 0 0 30px;
        box-shadow: none;
    }

    .bigHeadersSmallScreen {
        font-size: 12vw;
    }

    .containerParent {
        align-items: initial;
    }

}

@media only screen and (min-width: 1150px) {
    #logoFont {
        font-size: 40px;
    }

    #blurb {
        font-size: 16px;
    }

    #navBar {
        font-size: 22px;
    }

    #navBar li {
        padding: 10px 20px;
    }


    .bigHeaders {
        font-size: 120px;
    }


    #kontaktTab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #Was {
        display: flex;
        flex-direction: row-reverse;
    }

    #wirText {
        padding: 80px 40px 0 0;
    }

    #profileText {
        padding: 80px 0 40px 0;
    }

    #Das {
        display: flex;
        padding-bottom: 50px;
    }

    #Das>div:first-child {
        width: 150%;
    }

    #Das>div:last-child {
        width: 200%;
    }


    #Was>div:first-child {
        width: 120%;
    }

    #Was>div:last-child {
        width: 200%;
    }

    #wirText {
        padding-top: 0px;
    }

    #kontaktTab {
        padding-top: 50px;
    }


    #Kontakt h2 {
        font-size: 120px;
    }

    .forty img {
        height: 400px;
    }

    body {
        font-size: 20px;
    }

    .forty img {
        padding-left: 40px;
    }

    .forty:first-of-type {
        width: 100%;

    }






}

@media only screen and (min-width: 1350px) {
    #logoFont {
        font-size: 45px;
    }

    #titleFont {
        font-size: 40px;
        top: 60px;
        left: 80px;
    }

    #Willkommen div p {
        width: 360px;
    }

    #blurb {
        font-size: 20px;
        top: 85px;
        left: 350px;
    }

}

@media only screen and (min-width: 1580px) {
    #Kontakt h2 {
        font-size: 180px;
        padding: 100px 0 20px;
    }


}

@media only screen and (min-width: 1680px) {

    .forty:first-of-type {
        width: 60%;
    }


    .forty img {
        padding-left: 2vw;
    }

    .bigHeaders {
        font-size: 160px;
    }
}