*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* my css starts here */

body {
    background-color: black;
    color: rgb(241, 241, 241);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.imgProfile {
    width: 100px;
}

#logoFont {
    font-family: 'Merienda', cursive;
}

.small-title {
    font-weight: 500;
}

.mainTitles {
    padding: 1em 1em 1em 0;
    font-size: 1.5em;
    font-weight: 700;
}

#Willkommen {
    background-image: url(/mainImages/AdobeStock_218963959_AIRework.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    text-shadow: 1px -1px 1px grey;
}

#Willkommen>div {
    display: flex;
    flex-direction: row;
    padding: 15px 100px;
}


#Willkommen #titleFont {
    font-size: 2.7em;
    padding: 20px;
    font-weight: 400;

}

#titleFont :first-of-type {
    font-weight: 700;
    font-size: 1.2em;
}


#Willkommen>div>p {
    padding: 20px;
    width: 500px;
    text-align: left;
    font-size: 1.4em;
    font-weight: 500;
    margin: auto 0;
    letter-spacing: 0em;
}


#mainNavBar {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    position: sticky;
    padding-left: 6.5em;
}


.navAncor {
    padding: 30px;

}

nav ul li:hover {
    background-color: black;
}